<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        {% raw %}
        <v-app>
            <v-content>
                <!-- <v-container>Hello world</v-container> -->
                <v-container>
                    <v-card>
                        <v-card-title>
                            Rooms
                            <div class="flex-grow-1"></div>
                            <v-text-field v-model="search" label="Search" single-line hide-details></v-text-field>
                        </v-card-title>
                        <v-data-table
                        :search="search"
                        :headers="headers"
                        :items="items"
                        class="elevation-1"
                        sort-by="time"
                        :sort-desc="true"
                        :multi-sort="true"
                        :items-per-page="15"
                        >
                            <template v-slot:body="{ items }">
                                <tbody>
                                    <tr v-for="item in items" :key="item.id">
                                        <td><a :href=`http://bbs.skykiwi.com/forum.php?mod=viewthread&tid=${item.id}` target="_blank">{{ item.description }}</a></td>
                                        <td><v-chip small color="primary">{{ item.location }}</v-chip></td>
                                        <td><v-chip small color="cyan" text-color="white">{{ item.room_type }}</v-chip></td>
                                        <td><v-chip small color="deep-purple accent-4" text-color="white">{{ item.time }}</v-chip></td>
                                        <td>{{ item.price }}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-data-table>
                    </v-card>
                </v-container>
            </v-content>
        </v-app>
        {% endraw %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                search: "",
                items: [],
                headers: [
                    {
                        text: "Description",
                        value: 'description',
                        sortable: false
                    },
                    {
                        text: "Location",
                        value: 'location',
                        align: 'center'
                    },
                    {
                        text: "Type",
                        value: 'room_type',
                        align: 'center'
                    },
                    {
                        text: "Time",
                        value: 'time',
                        align: 'center',
                        sort: (a, b) => {return new Date(a) - new Date(b)}
                    },
                    {
                        text: "Price",
                        value: 'price',
                        align: 'end'
                    },
                ]
            },
            methods: {},
            mounted() {
                axios
                    .get('/room')
                    .then(response => (this.items = response.data.result))
            }
        })
    </script>
</body>